#1.WAP to calculate total bill amount of a restaurent.....

Vage Thali--->100
Non Vage Thali--->150

Home Delivery is only option

First Input is that how many thali's u required.
Restuarent has some charges for home delivery......

second input is that Distance from restaurent.....
A. If distance is 0-3km then delivery is free.
B. IF distance is 4-6km then delivery is 3/km
C. If delivery is 7-10 then charges is 5/km
D. Else Delivery is not Avialabel.

In [1]:
s='hello world'

In [2]:
for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [3]:
for i in s:
    print(f'index of {i}--->{s.index(i)}')

index of h--->0
index of e--->1
index of l--->2
index of l--->2
index of o--->4
index of  --->5
index of w--->6
index of o--->4
index of r--->8
index of l--->2
index of d--->10

In [4]:
l=[1,2,3,4,5,6]

In [7]:
for i in l:
    print(i)
    print('hello world')

1
hello world
2
hello world
3
hello world
4
hello world
5
hello world
6
hello world

In [ ]:
for i in l:
    print(i)
    print(l)

In [8]:
l

[1, 2, 3, 4, 5, 6]

In [9]:
print(l)

[1, 2, 3, 4, 5, 6]

In [10]:
print(l)
print(l)
print(l)
print(l)
print(l)
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [13]:
for i in l:
    print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [14]:
d={'Name':'sachin','Course':'DS','Age':24}

In [15]:
for i in d:
    print(i)

Name
Course
Age

In [16]:
for i in d.values():
    print(d[i])

KeyError: 'sachin'

In [17]:
for i in d.keys():
    print(d[i])

sachin
DS
24

In [19]:
for i in d.values():
    print(*zip(d.keys(),d.values()))

('Name', 'sachin') ('Course', 'DS') ('Age', 24)
('Name', 'sachin') ('Course', 'DS') ('Age', 24)
('Name', 'sachin') ('Course', 'DS') ('Age', 24)

In [18]:
print(*zip(d.keys(),d.values()))

('Name', 'sachin') ('Course', 'DS') ('Age', 24)

In [20]:
for i in range(1,10,1):
    print(d.values())

dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])

In [21]:
print('*')

*

In [27]:
for j in range(10):
    for i in range(10):
        print('*',end='')
    print()

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [29]:
for i in range(1,100):
    if i%2==0:
        print('Even',end=',')
    else:
        print('Odd',end=',')

Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,

In [30]:
for i in range(1,21):
    if i%2:
        print('Odd',end='  ')
    else:
        print('Even',end='  ')

Odd  Even  Odd  Even  Odd  Even  Odd  Even  Odd  Even  Odd  Even  Odd  Even  Odd  Even  Odd  Even  Odd  Even

In [ ]:
for  i in range(1,100):
    if i%5==0 and i%7==0:
        print('Number is divisible by 5 and 7 both')
        print(i)
    else:
        if i%5==0:
            print('Number is not  divisible by 7')
        else:
            print('Number is not divisible by 5')

In [ ]:
for  i in range(1,100):
    if i%5==0 and i%7==0:
        print('Number is divisible by 5 and 7 both')
        print(i)
    elif i%5==0:
        print('Divisible by 5')
    elif i%7==0:
        print('Divisible by 7')
    else:
        print('Not Divisible by Both')

In [ ]:
#2.WAP to take input from user and Check that Triangle can be formed or not.
#3.Check that a string is pallindrome or not.
#4.WAP to make amount......
28---->total ruppess you have to pay to the shop
no. of 5---->4
no. of 1----->10

What is the minimum number of coin in which u made a successful payment.


amount--->28

5*3==>15
1*10==>10
__________
Insufficient 

5*5==>25
1*2===>2
__________
Not Avialable in required form
____________________________________