#1.WAP to calculate total bill amount of a restaurent.....

Vage Thali--->100
Non Vage Thali--->150

Home Delivery is only option.

First Input is that how many thali's u required.
Restuarent has some charges for home delivery......

second input is that Distance from restaurent.....
A. If distance is 0-3km then delivery is free.
B. IF distance is 4-6km then delivery is 3/km
C. If delivery is 7-10 then charges is 5/km
D. Else Delivery is not Avialabel.

In [1]:
s='hello world'

In [2]:
for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [3]:
for i in s:
    print(f'index of {i}--->{s.index(i)}')

index of h--->0
index of e--->1
index of l--->2
index of l--->2
index of o--->4
index of  --->5
index of w--->6
index of o--->4
index of r--->8
index of l--->2
index of d--->10

In [4]:
l=[1,2,3,4,5,6]

In [7]:
for i in l:
    print(i)
    print('hello world')

1
hello world
2
hello world
3
hello world
4
hello world
5
hello world
6
hello world

In [ ]:
for i in l:
    print(i)
    print(l)

In [8]:
l

[1, 2, 3, 4, 5, 6]

In [9]:
print(l)

[1, 2, 3, 4, 5, 6]

In [10]:
print(l)
print(l)
print(l)
print(l)
print(l)
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [13]:
for i in l:
    print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [14]:
d={'Name':'sachin','Course':'DS','Age':24}

In [15]:
for i in d:
    print(i)

Name
Course
Age

In [16]:
for i in d.values():
    print(d[i])

KeyError: 'sachin'

In [17]:
for i in d.keys():
    print(d[i])

sachin
DS
24

In [19]:
for i in d.values():
    print(*zip(d.keys(),d.values()))

('Name', 'sachin') ('Course', 'DS') ('Age', 24)
('Name', 'sachin') ('Course', 'DS') ('Age', 24)
('Name', 'sachin') ('Course', 'DS') ('Age', 24)

In [18]:
print(*zip(d.keys(),d.values()))

('Name', 'sachin') ('Course', 'DS') ('Age', 24)

In [20]:
for i in range(1,10,1):
    print(d.values())

dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])
dict_values(['sachin', 'DS', 24])

In [21]:
print('*')

*

In [27]:
for j in range(10):
    for i in range(10):
        print('*',end='')
    print()

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [29]:
for i in range(1,100):
    if i%2==0:
        print('Even',end=',')
    else:
        print('Odd',end=',')

Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,Even,Odd,

In [30]:
for i in range(1,21):
    if i%2:
        print('Odd',end='  ')
    else:
        print('Even',end='  ')

Odd  Even  Odd  Even  Odd  Even  Odd  Even  Odd  Even  Odd  Even  Odd  Even  Odd  Even  Odd  Even  Odd  Even

In [ ]:
for  i in range(1,100):
    if i%5==0 and i%7==0:
        print('Number is divisible by 5 and 7 both')
        print(i)
    else:
        if i%5==0:
            print('Number is not  divisible by 7')
        else:
            print('Number is not divisible by 5')

In [ ]:
for  i in range(1,100):
    if i%5==0 and i%7==0:
        print('Number is divisible by 5 and 7 both')
        print(i)
    elif i%5==0:
        print('Divisible by 5')
    elif i%7==0:
        print('Divisible by 7')
    else:
        print('Not Divisible by Both')

In [ ]:
#2.WAP to take input from user and Check that Triangle can be formed or not.
#3.Check that a string is pallindrome or not.
#4.WAP to make amount......
28---->total ruppess you have to pay to the shop
no. of 5---->4
no. of 1----->10

What is the minimum number of coin in which u made a successful payment.


amount--->28

5*3==>15
1*10==>10
__________
Insufficient 

5*5==>25
1*2===>2
__________
Not Avialable in required form
____________________________________

In [7]:
x='hellolleh'

In [6]:
for i in range(len(x)//2+1):
    if x[i]!=x[-i-1]:
        print('Not pallindrome')
        break
else:
    print('Pallindrome')

Not pallindrome

In [8]:
y=x[::-1]

In [9]:
if x==y:
    print('Pallindrome')
else:
    print('Not Pallindrome')

Pallindrome

In [15]:
total=int(input('Enter Total amount which you paid'))#28
n5=int(input('Total coins of fives'))#5
n1=int(input('Total coins of ones'))#10

if total > n5*5+n1*1:
    print('In sufficient Amount')
elif total//5 <= n5:
    if total%5==0:
        print('Number of coins required of 5 is :',total//5)
        print('Number of coins required of 1 is : ',0)
    else:
        if n1 >= total%5:
            no1=total%5
            print('Number of coins required of 5 is :',total//5)
            print('Number of coins required of 1 is : ',no1)
        else:
            print('Improper chains')
elif total//5 > n5:
    no5=n5
    if total-n5*5 <= n1:
        no1=total-n5*5
        print('Number of coins required of 5 is :',n5)
        print('Number of coins required of 1 is : ',no1)
    else:
        print('Insufficient coins')

Enter Total amount which you paid34
Total coins of fives5
Total coins of ones10
Number of coins required of 5 is : 5
Number of coins required of 1 is :  9

In [20]:
x=int(input('Enter a number'))#9,23,34
if x<=1:
    print('Invalid Input')
elif x==2:
    print('Prime')
else:
    for i in range(3,x//2+1):
        if x%i==0:
            print('Not Prime')
            break
    else:
        print('Prime')

Enter a number25
Not Prime

78===>
        78%2==0
            not prime
    78%3==0
            not prime
    78%4==0
            not prime
    78%10==0
            not prime
    78%39==0
            not prime
        
        
    39*1==>39
    39*2==>78

In [21]:
#intialization

#while condition:
    
    #stmt
    
    #increment

In [24]:
x=0
while x<10:
    print('This is hello world')
    x=x+1
print('this is bye world')

This is hello world
This is hello world
This is hello world
This is hello world
This is hello world
This is hello world
This is hello world
This is hello world
This is hello world
This is hello world
this is bye world

In [26]:
x=11
while x<10:
    print('This is hello world')
    x=x+1
print('this is bye world')

this is bye world

In [27]:
x=100
while x>0:
    print(x,end='\t')
    x=x-1

100	99	98	97	96	95	94	93	92	91	90	89	88	87	86	85	84	83	82	81	80	79	78	77	76	75	74	73	72	71	70	69	68	67	66	65	64	63	62	61	60	59	58	57	56	55	54	53	52	51	50	49	48	47	46	45	44	43	42	41	40	39	38	37	36	35	34	33	32	31	30	29	28	27	26	25	24	23	22	21	20	19	18	17	16	15	14	13	12	11	10	9	8	7	6	5	4	3	2	1

In [28]:
x=100
while x>0:
    x=x-1
    print(x,end='\t')

99	98	97	96	95	94	93	92	91	90	89	88	87	86	85	84	83	82	81	80	79	78	77	76	75	74	73	72	71	70	69	68	67	66	65	64	63	62	61	60	59	58	57	56	55	54	53	52	51	50	49	48	47	46	45	44	43	42	41	40	39	38	37	36	35	34	33	32	31	30	29	28	27	26	25	24	23	22	21	20	19	18	17	16	15	14	13	12	11	10	9	8	7	6	5	4	3	2	1	0

In [30]:
x=int(input('Enter starting point'))
y=int(input('Enter  ending point'))

while x <= y:
    p=input('Enter Alphabet ')
    print(x)
    x+=1

Enter starting point1
Enter  ending point26
Enter Alphabet A
1
Enter Alphabet B
2
Enter Alphabet C
3
Enter Alphabet D
4
Enter Alphabet E
5
Enter Alphabet F
6
Enter Alphabet G
7
Enter Alphabet H
8
Enter Alphabet I
9
Enter Alphabet J
10
Enter Alphabet K
11
Enter Alphabet L
12
Enter Alphabet M
13
Enter Alphabet N
14
Enter Alphabet O
15
Enter Alphabet P
16
Enter Alphabet Q
17
Enter Alphabet R
18
Enter Alphabet S
19
Enter Alphabet T
20
Enter Alphabet U
21
Enter Alphabet V
22
Enter Alphabet W
23
Enter Alphabet X
24
Enter Alphabet Y
25
Enter Alphabet Z
26